:root {
    --primary-black: #555555;
    --secondary-black: #868686;
    --tertiary-black: #aaaaaa;
    --primary-text: #111111;


    --highlight-main: #9EEBCF;
    --highlight-walker: #5AD1FF60;
    --highlight-up: #58CCD560;
    --highlight-REI: #FABB5460;
    --highlight-cook-fresh: #CFEB6860;
    --highlight-THD: #FDAA7560;
    --highlight-eatxplore: #F9CB4260;
    --highlight-thriller: #BB142215;
    --highlight-photos: #1A73E825;
    --highlight-google: #366FF225;
    --highlight-about: #9EEBCF60;

    --THD-color:#F96302;
    --eatxplore-color:#F9CB42;
    --walker-color:#5AD1FF;
    --about-color: #44DCC4;
    --cookfresh-color: #CFEB68;
    --photos-color:#1A73E8;
    --google-color:#366FF2;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
}

.kr{font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.en{font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.circle-scroll {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    bottom: 20px;
    right: 70px;
}

.circular-text {
    /* transform: translate(-50%, -50%); */
    color: rgba(14, 14, 14, 1);
    font-size: 12px;
    font-family: "";
    transition: 0.7s ease-out;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.6);
}


.arrow-down {
    position: relative;
    left: -50%;
    width: 30px;
}

.main-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list > li {
    padding-left: 2em;
    font-weight: 300;
}

.header-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.nav-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 1.5em 1em 1.5em;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.name-logo {
    font-weight: 700;
}

.progress-container {
    width: 100%;
    height: 1px;
    background: #E2E2E2;
  }
  
.progress-bar {
    height: 2px;
    background: #2F2F40;
    width: 0%;
    z-index: 1;
}

.body-display-wrapper {
    padding-top: 10em;
    max-width: 800px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.body-display-wrapper p {
    line-height: 1.8;
    font-size: 0.9em;
    font-weight: 300;
}

/* Highlight Text & Animation*/

.highlight {
    position: relative;
    background-origin: 0;
    background-size: 200% 100%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.8s ease-out;
    padding: 4px 0px;
  }
  
  .highlight.shown {
    position: relative;
    background-origin: 0;
    background-size: 200% 50%;
    background-repeat: repeat-x;
    background-position: -100% 100%;
    transition: background-position 0.8s ease-out;
    background-image: linear-gradient(to right, transparent 50%, var(--highlight-walker) 50%);
}